body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
}

header {
    background-color: #4CAF50; /* Green header */
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 5px 0;
}

button {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    background-color: #4CAF50; /* Green button */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.location-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; /* White section background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#locationData, #thingSpeakData {
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
    font-size: 18px;
}

#thingSpeakChart {
    text-align: center;
}

header h4, header h2, header h3 {
    color: #333; /* Dark gray for header text */
    margin: 10px 0;
}
